.about-section {
  background-color: var(--dark);
}

.about-img {
  width: 50%;
  padding: 0 15px;
}

.about-text {
  width: 50%;
  padding: 0 15px;
  font-size: 20px;
  color: var(--white);
}

.about-img .img-box {
  background-color: var(--white);
  max-width: 380px;
  margin: auto;
  border-radius: 50%;
}

.about-img .img-box img {
  width: 100%;
}

.about-text h3 {
  text-transform: capitalize;
  font-size: 20px;
  margin: 20px 0;
}

.about-text .skills {
  display: flex;
  flex-wrap: wrap;
}

.about-text .skill-item {
  background-color: var(--white);
  color: var(--dark);
  border: 3px solid var(--border);
  padding: 8px 18px;
  text-transform: capitalize;
  margin: 0 10px 10px 0;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.2s;
}

.about-text .skill-item:hover {
  transform: scale(0.9);
}

.about-tabs {
  margin-top: 20px;
}

.about-tabs .tab-item {
  padding: 2px 0;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  display: inline-block;
  color: var(--white);
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  margin: 0 30px 0 0;
  position: relative;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.about-tabs .tab-item:last-child {
  margin: 0;
}

.about-tabs .tab-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: var(--white);
  transition: width 0.3s ease;
}

.about-tabs .tab-item:hover::before {
  width: 100%;
}

.about-tabs .tab-item.active::before {
  width: 100%;
  background-color: var(--white);
}

.about-tabs .tab-item.active {
  color: var(--white);
  opacity: 1;
  cursor: auto;
}

.about-text .timeline-item {
  margin-bottom: 30px;
}

.about-text .timeline-item:last-child {
  margin-bottom: 0;
}

.about-text .tab-content {
  padding: 40px 0;
  display: none;
}

.about-text .timeline-item .date {
  display: block;
  color: var(--white);
  font-weight: 400;
  margin: 0 0 10px;
}

.about-text .timeline-item h4 {
  font-size: 18px;
  text-transform: capitalize;
  margin: 0 0 10px;
}

.about-text .timeline-item h4 span {
  font-weight: 400;
}

.about-text .timeline {
  position: relative;
}

.about-text .timeline::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: 5px;
  background-color: var(--white);
}

.about-text .timeline-item {
  margin-bottom: 30px;
  position: relative;
  padding: 10px 0 0 40px;
}

.about-text .timeline-item::before {
  content: "";
  position: absolute;
  height: 11px;
  width: 11px;
  background-color: var(--white);
  left: 0;
  top: 16px;
  border-radius: 50%;
}

.about-text .tab-content.active {
  display: block;
}

.about-text .btn {
  margin-bottom: 36px;
}

/* about */
